.booknav {
  width: 30%;
  &__desc {
    text-align: center;
    margin: 35px;
  }
  &__cover {
    display: block;
    margin: 0 auto;
  }
  &__selection {
    margin: 20px;
    & h3 {
      margin: 8px;
    }
    &__select {
      z-index: 20;
    }
  }
}
