.book {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  position: relative;
  flex: 1;
  margin: 10px;

  &__page {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    padding: 10px 5px;
    &__content {
      padding: 20px;
      width: 90%;
      height: 90%;
      background-color: white;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transform: rotateY(0deg);
    }
    &--hidden {
      display: none;
    }
    &__left {
      left: 0;
      transform-origin: right center;
      background-color: blue;
      margin-right: 5px;
      transform: rotateY(0deg);
      &--behind{
        transform: rotateY(-180deg);
      }
    }
    &__right {
      right: 0;
      transform-origin: left center;
      background-color: red;
      margin-left: 5px;
      transform: rotateY(0deg);
      &--behind{
        transform: rotateY(180deg);
      }
    }
    
  }

  & button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 30px;
    margin: 10px 20px;
    z-index: 8;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
