.flipbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 30px;
    margin: 10px 20px;
    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  &__navbuttons {
    display: flex;
  }
}
