.bibli {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .biblilist {
    display: flex;
    &__book {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 10px;
    }
    & h3 {
      width: 150px;
      text-align: center;
    }
    &__img {
    }
  }
}
