.booknav {
  max-width: 30%;
  margin-left: 20px;
  &__desc {
    text-align: center;
    margin: 35px;
  }
  &__cover {
    display: block;
    margin: 0 auto;
    text-align: center;
    & h3 {
      width: 200px;
      margin: 20px auto;
    }
  }
  &__selection {
    margin: 20px;
    & h3 {
      margin: 8px;
    }
    & #setbookid * {
      z-index: 20;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 768px) {
  .booknav {
    max-width: 100%;
    margin-left: 0px;
  }
}
